* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka One", sans-serif;
}

body {
    background-color: #5F9EA0;
}

.container {
    font-size: 16px;
    background-color: aliceblue;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}

#options-container {
  text-align: center;
}

#options-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
}

#options-container button {
    padding: 0.6em 1.2em;
    border: 3px solid #5F9EA0;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    text-transform: capitalize;
}

#options-container button:disabled {
    border: 3px solid #6a6969;
    color: #6a6969;
    background-color: #efefef;
}

#options-container button.active {
    background-color: #5F9EA0;
    border: 3px solid #5F9EA0;
    color: #000000;
}

